.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-container {
  display: flex;
  align-items: center;
}
.dashboard-logo {
  width: 40px;
}
.home-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 45px;
  font-weight: 600;
  margin-left: 15px;
}
.home-unorderedlist {
  padding: 0px;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: center;
}
